@font-face
{
    font-family: 'aaarghnormal';
    src: url('fonts/Aaargh-webfont.eot');
    src: url('fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aaargh-webfont.woff') format('woff'),
         url('fonts/Aaargh-webfont.ttf') format('truetype'),
         url('fonts/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
	width:100%;
	margin:0;
	background:url(images/moutons.jpg) no-repeat center center fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-ms-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	}
body {
	width:100%;
	margin:0;
	font-family:'aaarghnormal', arial, sans-serif;
	
	
	

  
}

.bandeau
{
	left:0;
	right:0;
	bottom:0;
	vertical-align:bottom;
	background-color:rgba(255,215,0,0.6);
	position:fixed;
	z-index:1;
	
}
li
{
	display:inline-block;
	color:white;
	text-align:center;
	list-style-image : none;
}

ul{
	
	text-align:center;
	list-style-image : none;
}

.devise
{	
	display:block;
	background-color:rgba(140,140,140,0.7);
	width:100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:center;
	color:gold;
	margin: auto;
	margin-top:140px;
}
.logo
{
	
	width:175px;
	height:175px;
	background-color:rgba(255,255,255,0.2);
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
	
	border-radius:50%;
	
	}
.corps
{
	margin-top:5%;
	width:50%;
	margin-right:auto;
	margin-left:auto;
	background-color:rgba(255,255,255,0.4);
}

.apropos
{
	column-count:2;
	-moz-column-count:2;
	-webkit-column-count:2;
	padding:5px;
	text-align:justify;
	}
/**galery**/
.wrap
{
	text-align:center;
	width:100%;
	height:90%;
	margin-bottom:100px;
}
.box
{
	
	display:inline-block;
	width:350px;
	height:600px;
	vertical-align:top;
	padding:3%;
	margin: 5%;
	right:2%;
	left:2%;
	background-color:rgba(255,255,255,0.4);
}
figure.imagebox
{
	width:300px;
	height:300px;
	margin:auto;
   /**filter : grayscale(100);**/
    margin: 5px;
    width: 300px; height: 300px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
figure.imagebox:hover
{
    animation-name: deBlur;
    animation-duration: 1s;
    animation-direction : normal;
    animation-fill-mode: forwards;
}
}
figcaption
{
	font-size:14px;
	margin: 15px;
	
}

/**boutons**/
.box a 
{
	text-decoration:none;
	color:black;
	display:inline-block;
	background-color:rgba(255,215,0,0.6);
	text-align:center;
	padding:10px;
	margin:15px;
	
}
.box a:focus
{
	color:black;
}

.box a:active, .box a:hover
{
	background-color:gold;
}

/**@keyframes deBlur {
    0%  {
    }
    100% {
        filter: grayscale(0);

    }
}
@-webkit-keyframes deBlur {
    0%  {
    }
    100% {
        filter: grayscale(0);

    }   
}
**/
/**BEGIN media queries**/

@media screen and (min-width: 600px) 
{
	
	
}
@media screen and (max-width: 1200px)
{
		.corps
		{
			width:90%;
			margin:auto;
		}
		.apropos
		{
			column-count:1;
			-moz-column-count:1;
			-webkit-column-count:1;
		
		}
}
/**END media queries**/
 