@font-face
{
    font-family: 'aaarghnormal';
    src: url('fonts/Aaargh-webfont.eot');
    src: url('fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aaargh-webfont.woff') format('woff'),
         url('fonts/Aaargh-webfont.ttf') format('truetype'),
         url('fonts/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
	width:100%;
	margin:0;
	background:url(images/moutons.jpg) no-repeat center center fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-ms-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	}
body {
	width:100%;
	margin:0;
	font-family:'aaarghnormal', arial, sans-serif;
	
	
	

  
}

.bandeau
{
	left:0;
	right:0;
	bottom:0;
	vertical-align:bottom;
	background-color:rgba(255,215,0,0.6);
	position:fixed;
	z-index:1;
	
}
li
{
	display:inline-block;
	color:white;
	text-align:center;
	list-style-image : none;
}

ul{
	
	text-align:center;
	list-style-image : none;
}

.devise
{	

	width:100%;
	text-align:center;
	color:grey;
	margin-top:75px;
	margin-right:auto;
	margin-left:auto;
}
.page
{
	

	width:275px;
	height:275px;
	background-color:rgba(0,0,0,0.4);
	margin-right:auto;
	margin-left:auto;
	margin-top:70px;
	
	border-radius:50%;
	
	}
.corps
{
	margin-top:5%;
	width:50%;
	margin-right:auto;
	margin-left:auto;
	background-color:rgba(255,255,255,0.4);
}

.apropos
{
	column-count:2;
	-moz-column-count:2;
	-webkit-column-count:2;
	padding:5px;
	text-align:justify;
	}






@keyframes deBlur {
    0%  {
    }
    100% {
        filter: grayscale(0);

    }
}
@-webkit-keyframes deBlur {
    0%  {
    }
    100% {
        filter: grayscale(0);

    }   
}
@media screen and (min-width: 600px) 
{
	
	
}
@media screen and (max-width: 1200px)
{
		.corps
		{
			width:90%;
			margin:auto;
		}
		.apropos
		{
			column-count:1;
			-moz-column-count:1;
			-webkit-column-count:1;
		
		}
}

 