@font-face
{
    font-family: 'aaarghnormal';
    src: url('fonts/Aaargh-webfont.eot');
    src: url('fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aaargh-webfont.woff') format('woff'),
         url('fonts/Aaargh-webfont.ttf') format('truetype'),
         url('fonts/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	margin: 0;
	font-family:'aaarghnormal', arial, sans-serif;

	

  
}

header
{
	width:100%;
	border: 1px solid white;
	background-color:rgba(255,215,0,0.6);
	position:fixed;
}
.menu
{
	display:inline;
	border: 1px solid white;
	
}
#logo
{
	margin-top:90px;
	display:inline-block;
	width:23%;
	vertical-align:top;
	border: 1px solid white;
}

nav{
	

	
	
	border: 1px solid white;
	vertical-align:top;

}
ul{
	display:inline-block;
	list-style: none;	
}


.image-container {
    filter : grayscale(100);
    margin: 5px;
    width: 300px; height: 300px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
.image-container:hover
{
    animation-name: deBlur;
    animation-duration: 1s;
    animation-direction : normal;
    animation-fill-mode: forwards;
}
.gallery {
	margin-top:40px;
    text-align: center;
	display:inline-block;
	vertical-align:top;
	Width:63%;
	border: 1px solid white;
	
}
.gallery img
{
    width : auto; height: auto;
}
@keyframes deBlur {
    0%  {
    }
    100% {
        filter: grayscale(0);

    }
}
@-webkit-keyframes deBlur {
    0%  {
    }
    100% {
        filter: grayscale(0);

    }   
}
@media screen and (max-width: 900px) 
{
	#logo{display:none;}
	.gallery {width:100%;}
	
	
	
}

  